*{
    font-family: 'Finlandica', sans-serif;
}
.main-bg{
    background: url("/image/bg.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}
.front-plate{
    height: 80vh;
    width: 70%;
    background: linear-gradient(
        to right bottom,
        rgba(63, 35, 95, 0.568),
        rgba(104, 34, 81, 0.623)
        );
    border-radius: 1.1rem;
    padding-left: 0 !important;
    padding-right: 0 !important;
    overflow-y: scroll;
}
.left-col{
    border-radius: 1.1rem;
    background-color: rgba(41, 31, 31, 0.521);
}
.avatar{
    width: 60%;
    height: auto;
    border-radius: 80%;
    margin-top: 20px;
}
.name{
    width:fit-content;
    font-size: 17px;
    text-transform:uppercase;
    font-weight: 500;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.815);
}
.link-logo{
    width: 28px;
    margin-left: 8px;
    /* border-radius: 30px; */
    list-style: none;
}
.fit-content{
    font-size: 17px;
    text-decoration: none;
    color: rgb(189, 189, 189);
}
.fit-content:hover{
    color: rgba(255, 255, 255, 0.753);
}
.head-body{
    color: white;
    
}


a, a:active, li a:visited{
 text-decoration: none;   
}
.brife-details{
    font-size: 17px;
    color: white;
}

.icon-main-bg{
    background-color: rgba(0, 0, 0, 0.623);
    border-radius: 5px;
}
.icon-edu-main{
    width: 80px;
    height: 50px;
}
.icon-name{
    color: white;
    font-weight: 600;
}





/* education */

.edu-bg{
    background: url("/image/17450.jpg");
    background-position:center;
    background-attachment: fixed;
    background-size: cover;
    overflow-y: scroll;
    min-height: 100vh;
    
}
.front-edu{
    width: 80%;
    margin-inline: auto;
    background: rgba(1, 3, 44, 0.877);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.front-edu2{
    width: 80%;
    margin-inline: auto;
    background: rgba(0, 2, 37, 0.596);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: calc(98vh - 100px);
    overflow-y: scroll;

}
ul{
    list-style: none;
    margin-bottom: 0;
}
li{
    display: inline;
    padding-inline: 10px;
    font-size: 16;
    color: white;
}
li a, li a:active, li a:visited{
    color: white;
}
.menu-btn{
    color: white;
    font-size: 16px;
    margin-right: 10px;
}
.course-head{
    color: white;
}
.course-para{
    color: #bebebe;
}
.bar-row{
    border-bottom: .001rem solid #bebebe8a;
}






/* scroll bar design */
/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }



@media only screen and (max-width:600px){
    .front-plate{
        height: 88vh;
        width: 80%; 
    }
    .left-col{
        height: fit-content;
        padding-bottom: 20px;
    }
    .avatar{
        width: 110px;
    }
    .fit-content{
        font-size: 14px;
    }
    .brife-details{
        font-size: 15px;
        color: white;
    }
    
    .link-logo{
        width: 30px;
        margin-left: 8px;
        /* margin-right: 10px; */
        /* border-radius: 30px; */
    }

    /* for education screen */
    .front-edu{
        width: 90%;
    }
    .front-edu2{
        width: 90%;
        
    }
    li{
        display: block;
        margin-top:10px;
    }
}






/* slide-menu design for mobile */
.slide-menu{
    position: fixed;
    z-index: 3;
    top: 10px;
    right:0;
    width:0;
    height: 100vh;
    background: linear-gradient(
        to right bottom,
        rgba(97, 28, 177, 0.932),
        rgba(165, 19, 116, 0.918)
        );
    transition-duration: .4s;
}
.close-x{
    width: fit-content;
    margin-left: 10px;
    font-size: 30px;
    font-weight:900;
    color: white;
}
